.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-decoration: none;
    color: $color-gray-500;
    font-weight: 500;

    &.active {
        color: $color-black-900;
        border-bottom: 2px solid $color-black-900;
    }
    &.inactive {
        color: $color-gray-500;
        border-bottom: none;
    }
}
